# Игнорировать файлы с токеном
config.py
.env

# Игнорировать файл базы данных
bot.db

# Игнорировать виртуальное окружение
venv/

# Игнорировать кэш Python
__pycache__/

# Игнорировать файлы компиляции Python
*.pyc

# Игнорировать логи
*.log

# Игнорировать системные файлы macOS
.DS_Store